# Target
CONFIG_IDF_TARGET="esp32s3"

# Serial flasher
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_TINYUSB_CDC_ENABLED=y

# I2S
CONFIG_I2S_ENABLE_DEBUG_LOG=n

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Main task stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240

# Wi-Fi
CONFIG_ESP_WIFI_ENABLED=y

# HTTP Server
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=256

# PSRAM
CONFIG_SPIRAM=y
